<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<@_includePlace path="/c2d5f00f-8b39-4483-8876-c57154521e5a.html"/> <#-- Head META -->
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agile_logo">
				<h1><a href="index.html">Adorning<span>Interior Design</span></a></h1>
			</div>
			<div class="agileits_w3layouts_nav">
				<div id="toggle_m_nav">
					<div id="m_nav_menu" class="m_nav">
						<div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
						<div class="m_nav_ham" id="m_ham_2"></div>
						<div class="m_nav_ham" id="m_ham_3"></div>
					</div>
				</div>
				<div id="m_nav_container" class="m_nav wthree_bg">
					<nav class="menu menu--sebastian">
						<ul id="m_nav_list" class="m_nav menu__list">
							<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="index.html" class="menu__link"> Home </a></li>
							<#-- parentId:父分类ID,typeId:分类类型ID,allowContribute:["true":允许投稿,"false":不允许投稿,默认全部],pageIndex:页码,count:每页数据条数 -->
							<@_categoryList parentId=parentId typeId=typeId allowContribute=allowContribute pageIndex=pageIndex count=count>
								<#list page.list as a>
									<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="${a.url!}" class="menu__link"> ${a.name} </a> </li>
								</#list>
							</@_categoryList>
							<#--li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="services.html" class="menu__link"> Services </a> </li-->
							<li class="m_nav_item menu__item" id="moble_nav_item_3"> <a href="about.html" class="menu__link"> About Us </a> </li>
							<li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="blog.html" class="menu__link"> Blog </a> </li>
							<li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="mail.html" class="menu__link"> Contact Us </a> </li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="agile_banner_info">
				<h2><span>Interior design</span> <i>is making the best possible use of the available space</i></h2>
				<p>Nullam ligula magna, pulvinar eget justo sit amet, posuere iaculis magna. Donec lorem 
					lacus, gravida quis consectetur id, egestas non ligula.</p>
				<div class="agile_banner_info_pos">
					<ul>
						<li>Latest Designs</li>
						<li>Awards</li>
						<li>Furniture</li>
					</ul>
				</div>
			</div>
			<div class="agileinfo_more">
				<a href="single.html" class="hvr-radial-in">read more</a>
			</div>
		</div>
	</div>
<!-- //banner -->	
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-6 agileits_banner_bottom_left">
				<h3>welcome to <span>Adoring</span></h3>
				<p class="w3l_para">Curabitur nec purus eget urna pulvinar placerat. Integer varius est vitae iaculis 
					suscipit. Integer sed rutrum lectus.</p>
				<div class="w3l_social_icons">
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">23,536</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid w3ls_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_dribbble">
							<a href="#">
								<i class="fa fa-dribbble" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">13,676</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_instagram">
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">45,342</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 agileits_banner_bottom_right">
				<div class="w3ls_banner_bottom_right">
					<img src="${site.sitePath}images/2.jpg" alt=" " class="img-responsive" />
					<div class="w3ls_banner_bottom_right_pos">
						<img src="${site.sitePath}images/1.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- Stats -->
	<script src="${site.sitePath}/js/waypoints.min.js"></script> 
	<script src="${site.sitePath}/js/counterup.min.js"></script> 
	<script>
		jQuery(document).ready(function( $ ) {
			$('.counter').counterUp({
				delay: 10,
				time: 2000
			});
		});
	</script>
<!-- //Stats -->
<!-- banner-bottom-icons -->
	<div class="banner-bottom-icons">
		<div class="col-md-6 w3_banner_bottom_icons_left hover15">
			<div class="w3_agile_banner_bottom">
				<figure><img src="${site.sitePath}images/3.jpg" alt=" " class="img-responsive" /></figure>
			</div>
		</div>
		<div class="col-md-6 w3_banner_bottom_icons_right">
			<div class="col-xs-6 w3_banner_bottom_icons1">
				<div class="w3_banner_bottom_icons1_effect">
					<i class="fa-table"></i>
					<h3>interior enterprise</h3>
					<p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
				</div>
			</div>
			<div class="col-xs-6 w3_banner_bottom_icons1">
				<div class="w3_banner_bottom_icons1_effect">
					<i class="fa-trophy"></i>
					<h3>awards winning</h3>
					<p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
				</div>
			</div>
			<div class="col-xs-6 w3_banner_bottom_icons1">
				<div class="w3_banner_bottom_icons1_effect">
					<i class="fa-jpy"></i>
					<h3>reasonable price</h3>
					<p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
				</div>
			</div>
			<div class="col-xs-6 w3_banner_bottom_icons1">
				<div class="w3_banner_bottom_icons1_effect">
					<i class="fa-user"></i>
					<h3>free consultation</h3>
					<p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //banner-bottom-icons -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!-- events-top -->
	<div class="events-top">
		<ul id="flexiselDemo1">	
			<li>
				<div class="agile_events_top_grid">	
					<div class="w3_agileits_evets_text_img">
						<a href="images/4.jpg" class="lsb-preview" data-lsb-group="header">
							<div class="view view-eighth">
								<img src="${site.sitePath}images/4.jpg" alt=" " class="img-responsive" />
								<div class="mask">
									<img src="${site.sitePath}images/plus.png" alt=" " class="img-responsive info" />
								</div>
							</div>
							<div class="agile_events_top_grid_pos">
								<img src="${site.sitePath}images/1.png" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agileits_w3layouts_events_text">
						<h3>Richard Carl</h3>
						<p>Business Dealer</p>
					</div>
				</div>
			</li>
			<li>
				<div class="agile_events_top_grid">	
					<div class="w3_agileits_evets_text_img">
						<a href="images/7.jpg" class="lsb-preview" data-lsb-group="header">
							<div class="view view-eighth">
								<img src="${site.sitePath}images/7.jpg" alt=" " class="img-responsive" />
								<div class="mask">
									<img src="${site.sitePath}images/plus.png" alt=" " class="img-responsive info" />
								</div>
							</div>
							<div class="agile_events_top_grid_pos">
								<img src="${site.sitePath}images/3.png" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agileits_w3layouts_events_text">
						<h3>Michael Crisp</h3>
						<p>Business Dealer</p>
					</div>
				</div>
			</li>
			<li>
				<div class="agile_events_top_grid">	
					<div class="w3_agileits_evets_text_img">
						<a href="images/6.jpg" class="lsb-preview" data-lsb-group="header">
							<div class="view view-eighth">
								<img src="${site.sitePath}images/6.jpg" alt=" " class="img-responsive" />
								<div class="mask">
									<img src="${site.sitePath}images/plus.png" alt=" " class="img-responsive info" />
								</div>
							</div>
							<div class="agile_events_top_grid_pos">
								<img src="${site.sitePath}images/2.png" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agileits_w3layouts_events_text">
						<h3>Adam Lii</h3>
						<p>Business Dealer</p>
					</div>
				</div>
			</li>
			<li>
				<div class="agile_events_top_grid">	
					<div class="w3_agileits_evets_text_img">
						<a href="images/5.jpg" class="lsb-preview" data-lsb-group="header">
							<div class="view view-eighth">
								<img src="${site.sitePath}images/5.jpg" alt=" " class="img-responsive" />
								<div class="mask">
									<img src="${site.sitePath}images/plus.png" alt=" " class="img-responsive info" />
								</div>
							</div>
							<div class="agile_events_top_grid_pos">
								<img src="${site.sitePath}images/4.png" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agileits_w3layouts_events_text">
						<h3>Thomas Paul</h3>
						<p>Business Dealer</p>
					</div>
				</div>
			</li>
			<li>
				<div class="agile_events_top_grid">	
					<div class="w3_agileits_evets_text_img">
						<a href="images/1.jpg" class="lsb-preview" data-lsb-group="header">
							<div class="view view-eighth">
								<img src="${site.sitePath}images/1.jpg" alt=" " class="img-responsive" />
								<div class="mask">
									<img src="${site.sitePath}images/plus.png" alt=" " class="img-responsive info" />
								</div>
							</div>
							<div class="agile_events_top_grid_pos">
								<img src="${site.sitePath}images/2.png" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agileits_w3layouts_events_text">
						<h3>Adam Lii</h3>
						<p>Business Dealer</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
<!-- //events-top -->
<!-- flexisel -->
		<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems:2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 2
					}
				}
			});
			
		});
	</script>
	<script type="text/javascript" src="${site.sitePath}/js/jquery.flexisel.js"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->
	<script src="${site.sitePath}/js/lsb.min.js"></script>
	<script>
	$(window).load(function() {
		  $.fn.lightspeedBox();
		});
	</script>
<!-- //gallery-pop-up -->
<!-- events -->
	<div class="events">
		<div class="container">
			<h3 class="agileinfo_header">Adorning Events</h3>
			<p class="agileits_dummy_para">Fusce elementum sem ut ex condimentum facilisis.</p>
			<div class="w3ls_event_grids">
				<div class="col-md-6 wthree_events_grid_left">
					<div class="wthree_events_grid_left1">
						<div class="wthree_events_grid_left1_grid">
							<div class="col-xs-4 wthree_events_grid_left1_gridl">
								<p>10 Nov 2016</p>
							</div>
							<div class="col-xs-8 wthree_events_grid_left1_gridr">
								<h4><a href="#" data-toggle="modal" data-target="#myModal">sem ut ex condimentum</a></h4>
								<p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="wthree_events_grid_left1">
						<div class="wthree_events_grid_left1_grid">
							<div class="col-xs-4 wthree_events_grid_left1_gridl">
								<p>13 Nov 2016</p>
							</div>
							<div class="col-xs-8 wthree_events_grid_left1_gridr">
								<h4><a href="#" data-toggle="modal" data-target="#myModal">placerat posuere magna</a></h4>
								<p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="wthree_events_grid_left1">
						<div class="wthree_events_grid_left1_grid">
							<div class="col-xs-4 wthree_events_grid_left1_gridl">
								<p>17 Nov 2016</p>
							</div>
							<div class="col-xs-8 wthree_events_grid_left1_gridr">
								<h4><a href="#" data-toggle="modal" data-target="#myModal">maximus odio enim vitae</a></h4>
								<p>Curabitur maximus odio enim, ac blandit erat sollicitudin vitae.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6 wthree_events_grid_right">
					<div class="wthree_events_grid_right1">
						<h3>5 <span>years of experience</span></h3>
						<h2>ador<span>ning</span></h2>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //events -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Adorning
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-6 w3_modal_body_left">
							<img src="${site.sitePath}images/2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-6 w3_modal_body_right">
							<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- subscribe -->
	<div class="w3layouts_newsletter">
		<div class="container">
			<div class="w3layouts_newsletter_left">
				<h3>Subscribe to our newsletter</h3>
			</div>
			<div class="w3layouts_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //subscribe -->
<!-- footer -->
	<@_includePlace path="/526b1633-3146-49b6-9d9e-1a135c3ba3a7.html"/> <#-- Footer -->
<!-- //footer -->
<@_includePlace path="/918fe598-1053-4718-94b3-6f207efe9c3d.html"/> <#-- Foot META -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>