<@_category id=id>
	<#assign category=object/>
	<#-- 分类扩展数据(参数为分类ID) -->
	<#assign attribute=getCategoryAttribute(id)/>
</@_category>
<!DOCTYPE html>
<html lang="en">
<head>
<title>${(category.name)!}</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="${site.sitePath}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="${site.sitePath}/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="${site.sitePath}/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="${site.sitePath}/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<@include path="ftl/banner.html"/><#-- Banner -->
<!-- services -->
	<div class="services">
		<div class="container">
			<h3 class="agileinfo_header">Offered Services</h3>
			<p class="agileits_dummy_para">Fusce elementum sem ut ex condimentum facilisis.</p>
			<div class="w3_services_grids">
				<div class="col-md-4 w3_services_grid">
					<div class="w3layouts_services_grid">
						<h4>01</h4>
						<div class="w3layouts_services_grid_pos">
							<i class="fa fa-compass" aria-hidden="true"></i>
						</div>
					</div>
					<h3>elementum sem ut ex varius</h3>
					<p>Mauris tempor rhoncus risus, vitae faucibus enim venenatis vel. 
						Sed fringilla varius est id aliquam. Suspendisse tincidunt aliquet.</p>
				</div>
				<div class="col-md-4 w3_services_grid">
					<div class="w3layouts_services_grid">
						<h4>02</h4>
						<div class="w3layouts_services_grid_pos">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</div>
					</div>
					<h3>faucibus enim venenatis</h3>
					<p>Mauris tempor rhoncus risus, vitae faucibus enim venenatis vel. 
						Sed fringilla varius est id aliquam. Suspendisse tincidunt aliquet.</p>
				</div>
				<div class="col-md-4 w3_services_grid">
					<div class="w3layouts_services_grid">
						<h4>03</h4>
						<div class="w3layouts_services_grid_pos">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
					</div>
					<h3>viverra in augue semper</h3>
					<p>Mauris tempor rhoncus risus, vitae faucibus enim venenatis vel. 
						Sed fringilla varius est id aliquam. Suspendisse tincidunt aliquet.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- services-bottom -->
	<div class="services-bottom">
		<div class="container">
			<div class="services_bottom_grid_left1">
				<img src="${site.sitePath}images/5.png" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 services_bottom_grid_left">
				
			</div>
			<div class="col-md-6 services_bottom_grid_right">
				<h3>Why Choose Us</h3>
				<p>Mauris tempor rhoncus risus, vitae faucibus enim venenatis vel. </p>
				<div class='bar_group'>
					<div class='bar_group__bar thin elastic' label='dealers' value='230'></div>
					<div class='bar_group__bar thin elastic' label='support' value='130'></div>
					<div class='bar_group__bar thin elastic' label='Finance' value='160'></div>
				</div>
			</div>
		</div>
	</div>
<!-- //services-bottom -->
<script src="${site.sitePath}/js/bars.js"></script>
<!-- featured-services -->
	<div class="featured-services">
		<div class="container">
			<h3 class="agileinfo_header">featured Services</h3>
			<p class="agileits_dummy_para">Fusce elementum sem ut ex condimentum facilisis.</p>
			<div class="w3_services_grids">
				<div class="col-md-4 w3_featured_services_grid">
					<div class="w3ls_featured_services_grid hover15">
						<figure><img src="${site.sitePath}images/4.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<h4>elementum sem facilisis justo</h4>
					<p>Donec ut libero ac justo semper placerat. Donec commodo egestas nunc, 
						vitae imperdiet velit hendrerit nec.</p>
					<div class="w3l_service_more">
						<a href="single.html">More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-4 w3_featured_services_grid">
					<div class="w3ls_featured_services_grid hover15">
						<figure><img src="${site.sitePath}images/5.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<h4>tempus blandit hendrerit nec</h4>
					<p>Donec ut libero ac justo semper placerat. Donec commodo egestas nunc, 
						vitae imperdiet velit hendrerit nec.</p>
					<div class="w3l_service_more">
						<a href="single.html">More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-4 w3_featured_services_grid">
					<div class="w3ls_featured_services_grid hover15">
						<figure><img src="${site.sitePath}images/1.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<h4>rutrum diam orci ac semper</h4>
					<p>Donec ut libero ac justo semper placerat. Donec commodo egestas nunc, 
						vitae imperdiet velit hendrerit nec.</p>
					<div class="w3l_service_more">
						<a href="single.html">More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //featured-services -->
<!-- subscribe -->
	<div class="w3layouts_newsletter">
		<div class="container">
			<div class="w3layouts_newsletter_left">
				<h3>Subscribe to our newsletter</h3>
			</div>
			<div class="w3layouts_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //subscribe -->
<!-- footer -->
	<@_includePlace path="/526b1633-3146-49b6-9d9e-1a135c3ba3a7.html"/> <#-- Footer -->
<!-- //footer -->
<@_includePlace path="/918fe598-1053-4718-94b3-6f207efe9c3d.html"/> <#-- Foot META -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>